*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, helvetica, sans-serif;
  background: #8fc1c6;
  color: #fff;
  line-height: 1.6;
  text-align: center;
}
.container{
 max-width:450px;
  margin: auto;
  padding: 0 30px;
  text-align: center;
}
#content{
text-align: center;

}
/* ----To do straight input----*/
.content > label
{
  float: left;
  clear: right;
}

.content > input
{
  margin:  auto;
  float: right;
}

/*-------------------------*/

span{
  color: #3d5456;
}

#showcase{
  height: 230px;
}

/* Button */
.btn {
  text-decoration: none;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: 100%;
  border: #fff 1px solid;
  background: #8fc1c6;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 17px;
}
.btn:hover{
  color: #555;
  background: #fff;

}

label {
  font-size: 22px;
}
a{
  text-decoration: none;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: 100%;
  border: #fff 1px solid;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 17px;
}
a:hover{
  color: #555;
  background: #fff;
  border: #555 1px solid;
}


@media(max-width:800px){
  .container2{
    display: grid;
    grid-template-columns: 1fr;
  }

  body {
    font-size: 17px;
  }
  #showcase h1 {
    font-size: 28px;
  }

}
